@font-face{
    font-family: base;
    src: url(../fuentes/HighriseFont-Demo-Regular.otf); 
}
@font-face {
    font-family:Nave ;
    src: url(../fuentes/BebasNeue-Regular.otf);
}
@font-face {
    font-family: todo;
    src: url(/assets/fuentes/Montserrat-Bold.ttf);
}